/Game of Life/lesson-info.yaml
/course-info.yaml
/course-remote-info.yaml
/Topics/*
/.idea/
/Game of Life/task/build/
/Game of Life/task/out/
/Game of Life/Gamify it/task.html
/Game of Life/Gamify it/task-info.yaml
/Game of Life/Gamify it/task-remote-info.yaml
/Game of Life/Generations/
/Game of Life/Generations/task.html
/Game of Life/Generations/task-info.yaml
/Game of Life/Generations/task-remote-info.yaml
/Game of Life/Let there be light/
/Game of Life/Let there be light/task.html
/Game of Life/Let there be light/task-info.yaml
/Game of Life/Let there be light/task-remote-info.yaml
/Game of Life/Life goes by/
/Game of Life/Life goes by/task.html
/Game of Life/Life goes by/task-info.yaml
/Game of Life/Life goes by/task-remote-info.yaml
/Game of Life/Looking good_/
/Game of Life/Looking good_/task.html
/Game of Life/Looking good_/task-info.yaml
/Game of Life/Looking good_/task-remote-info.yaml
